ul.container li {
    border-radius: 0;
    font-weight: normal;
    margin: 0 -10px;
    padding: 0.375em 10px;
    list-style: none outside none;
    position: relative;
}

button.import-collection {
    float: right;
}

input#api-url {
    width: inherit;
}

.inputs {
    width: none;
    min-width: 70%;
}